@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@400;900&display=swap');

:root {
    --theme-color: #1e69fe;
    --chat-font: "Zen Maru Gothic", sans-serif;
}

/* --- ベース設定 --- */
html,
body {
    overflow: hidden;
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: transparent;
}
* {
    background: transparent;
    font-family: "Noto Sans JP", "Noto Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    background: transparent;
}

/* ヘッダー */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    height: 40px;
    padding: 5px 30px;
    margin: 15px auto 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 50;
    /*すりガラス風*/
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 50px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
}

header nav {
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
    margin: 0 auto;
}

header nav .catchCopy {
    color: #fff;
    font-size: 10px;
    font-weight: 500;
}

header #logo {
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* --- 背景 --- */
.background {
    position: relative;
    width: 1920px;
    height: 1080px;
    margin: 0;
    padding: 0;
    background-image: url(./bg1.png);
    background-size: contain;
    align-items: center;
    overflow: hidden;
}

/* --- メインキャンバス --- */
#main-canvas > canvas {
    width: 1000px;
    height: 1500px;
    right: 200px;
    bottom: -600px;
    position: absolute;
    background: transparent;
    display: block;
}

/* --- コメントエリア --- */
#comment {
    position: absolute;
    width: 600px;
    height: 630px;
    top: 252px;
    left: 100px;
    overflow: hidden;
    z-index: 10;
    padding-bottom: 0.5rem;;
}

#comment-inner {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    bottom: 0;
    width: 100%;
    transition: transform 0.5s cubic-bezier(.4,0,.2,1);
    will-change: transform;
}

/* --- コメントメッセージ --- */
#comment-inner > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    animation: popInLeft 0.3s ease-out forwards;
    gap: 0.25rem;
}

@keyframes popInLeft {
    0% {
        opacity: 0;
        transform: translate(-50%, -50%) scale(0);
    }
    100% {
        opacity: 1;
        transform: translate(0, 0) scale(1);
    }
}

.name {
    display: block;
    width: fit-content;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: var(--theme-color);
    color: #fff;
    font-size: 0.75rem;
    margin-bottom: 8px;
    margin-right: 8px;
    font-weight: 700;
}

.msg {
    background-color: #fff;
    color: #333;
    border-radius: 1rem;
    border: 2px solid var(--theme-color);
    padding: 0.25rem 1rem;
    font-size: 16px;
    font-weight: 500;
    position: relative;
    width: fit-content;
    min-width: 2rem;
    margin-right: auto;
}

.msg > p, .name > p {
    font-size: 1em;
    padding: 0.5em !important;
    margin: 0;
    font-weight: 900;
    font-family: var(--chat-font);
}

/* --- 絵文字 --- */
#comment-inner img {
    height: 1.5rem;
    vertical-align: middle;
}

/* --- スクロールバー非表示 --- */
#comment-inner {
    scrollbar-width: none;
}
#comment-inner::-webkit-scrollbar {
    display: none;
}

/* --- その他不要な装飾をリセット --- */
#comment-inner * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#tips {
    position: absolute;
    bottom: 20px;
    right: 30px;
    color: #fff;
    font-size: 14px;
    background-color: #fff;
    padding: 8px 16px;
    border-radius: 16px;
    z-index: 20;
}

@media (max-width: 700px) {
    #video-container {
        min-width: 180px;
        max-height: none;
        display: flex;
        justify-content: center;
        top: 10%;
    }

    .background {
        background-repeat: no-repeat;
        background-size: cover;
    }
}
